:root {
    --font-color-base: #666;
    --font-color-dark: #212529;
    --font-color-light: #b0aebe;
    --font-color-link: #57a6ff;
    --footer: #34314b;
    --foooter-base: #2e2b45;
    --contrast: var(--font-color-light);
    --success: #64ecf5;
    --danger: #ff8b8d;
    --grad-1: #a1ecff;
    --grad-2: #7dbeff;

    --size-10: 0.625rem;
    --size-14: 0.875rem;
    --size-16: 1rem;
    --size-18: 1.125rem;
    --size-20: 1.25rem;
    --size-30: 1.875rem;
    --size-40: 2.5rem;
    --size-50: 3.125rem;
    --size-100: 6.25rem;
    --size-150: 9.375rem;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--font-color-base);
    margin: 0;
    padding: 0;
}

::before,
::after {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a { text-decoration: none; }
p { margin-top: 0; }

h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1200px) {
    .container { max-width: 1140px; }
}