.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
    transition: ease-in-out 0.3s;
    padding: var(--size-16);
}

[aria-controls="navbar-dropdown"] {
    display: none;
}

.navbar .container {
    display: flex;
    align-items: center;
}

.navbar-brain {
    margin-right: auto;
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    transition: ease-in-out 0.3s;
    color: white;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-link a {
    color: white;
    font-size: 0.8125rem;
    font-weight: 600;
    font-family: "Hind", sans-serif;
    text-transform: uppercase;
    margin-right: 2.5rem;
    line-height: 1.25rem;
}

.bg-header {
    background-image: url("../CodeRad-assets/bg-header-1.jpg");
    background-color: var(--footer);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    position: relative;
    z-index: 1;
    padding: 4.6875rem;
}

.bg-header::before {
    background-image: linear-gradient(
        30deg,
        rgba(21, 27, 38, 0.8) 0%,
        rgba(0, 0, 0, 0.2) 100%
    );
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-header {
    color: white;
    font-size: 1.75rem;
}

.why-me {
    padding: var(--size-150);
}

.why-me-wrapper {
    display: flex;
    align-items: center;
}

.why-me-wrapper div {
    flex: 1;
}

.block-text {
    padding-right: var(--size-50);
}

.block-text span {
    color: var(--font-color-dark);
    font-weight: 300;
}

.block-text h2 {
    font-family: "Hinds", sans-serif;
    font-size: var(--size-40);
    color: var(--font-color-dark);
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: var(--size-20);
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: var(--font-color-dark);
    padding: 10px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-radius: 1.25rem;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.475rem 1.75rem;
    border-radius: 1.25rem;
    transition: ease-in-out 0.3s;
}

.btn-white {
    background-color: white;
    color: var(--font-color-link);
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.35);
}

.btn-blue {
    background-image: linear-gradient(90deg, var(--grad-1) 0%, var(--grad-2) 100%);
    color: white;
    border: 1px solid var(--grad-1);
    box-shadow: 0 10px 20px rgba(161, 236, 255, 0.5);
    transition: ease-in-out 0.3s;
    padding: 0.4375rem 1.5625rem;
}